.create-boundary {
  background: #f0f2f5;
  max-height: calc(100vh - 5rem);
  overflow: auto;
}
.result-create {    
  background-color: white;
  margin-top: 10px;
  padding: 1em 2em;  
}
label {
  font-weight: 600;
  color: #736e6e;
}
.label-radio {
  padding-top: 1em;
}
.radio-input {
  display: flex;
  gap: 2em;
  div {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 6px;
  }
  input {
    width: auto;
  }
  label,
  input {
    cursor: pointer;
  }
}
.upload-file {
  display: grid;
  width: 50%;
  div {
    border: solid 1px #eaeaea;
    height: 4em;
    display: flex;
    align-items: center;
    padding: 1em;
    background: #f5ebeb;
    span {
      color: green;
    }
    label {
      cursor: pointer;
    }
  }
}

.input-row {
  display: flex;
  gap: 8em;
  padding: 10px 0;
  .input-field {
    display: grid;
    width: 100%;
    gap: 10px;
  }
  .left-content,
  .right-content {
    width: 100%;
  }
  .pay-method {
    display: grid;
    padding-top: 4em;
    label {
      padding-bottom: 10px;
    }
  }
  .claim-amount {
    label {
      padding-bottom: 10px;
    }
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    select {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .wrap-claim-amount {
      display: grid;
      grid-template-columns: 75% 25%;
    }
  }
  .right-content {
    display: grid;
    row-gap: 10px;
    textarea {
      height: 10rem;
      border: solid 1px #d0caca;
      cursor: pointer;
    }
  }
}
