@import "variables";
.main-container {
  padding: 1em 1em;
  background: #f0f2f5;
  height: 100vh;
  .head {
    display: flex;
    justify-content: space-between;
    h3 {
      font-weight: 600;
    }
  }
  select,
  input {
    width: 100%;
    border-radius: 5px;
    height: 2.2em;
    border: solid 1px #d0caca;
    cursor: pointer;
    outline: none;
  }
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  .lnndaO {
    white-space: break-spaces !important;
  }
}
.primary-button {
  background: red;
  border-radius: 8px;
  width: 8em;
  color: white;
  border-width: 0;
}
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-red {
  color: $common-red !important;
}
