@import "variables";

.primary-button {
  background: red;
  border-radius: 8px;
  width: 8em;
  color: white;
  border-width: 0;
}
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-red {
  color: $common-red !important;
}
