.edit-boundary {
  display: grid;
  grid-template-columns: 70% 30%;
  .left-content {
    .info-content {
      .div-2 {
        display: grid;
        grid-template-columns: 50% 50%;
      }
    }
  }
}
